{% extends 'base.html' %}

{% block head %}
<title>Insta 485</title>
{% endblock %}

{% block body %}
    <h2> Followers </h2>
    {% for follower in followers %}
        {% if follower.username1 != session.logname %}
            {% if not follower.logFollowUser %}
                <h4>not following</h4>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
                <form action="{{ url_for('handle_following') }}?target={{ url_for('show_followers', user_url_slug=follower.username2) }}" method="post" enctype="multipart/form-data">
                <input type="submit" name="follow" value="follow"/>
                <input type="hidden" name="username" value="{{follower.username1}}"/>
                <input type="hidden" name="operation" value="follow"/>
            </form>
            {% else %}
                <h4>following</h4>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
                <form action="{{ url_for('handle_following') }}?target={{ url_for('show_followers', user_url_slug=follower.username2) }}" method="post" enctype="multipart/form-data">
                <input type="submit" name="unfollow" value="unfollow"/>
                <input type="hidden" name="username" value="{{follower.username1}}"/>
                <input type="hidden" name="operation" value="unfollow"/>
            </form>
            {% endif %}
        {% endif %}
        <br>
        <img class="profile_img" src={{  url_for('uploaded_file', filename=follower['user_img_url']) }} alt="profile">
        <a href="/users/{{follower['username1']}}/">
            {{follower['username1']}}
        </a>
        <!-- modi -->
        {% if follower['logname_follows_username'] %}
            following
        {% elif follower['username'] != logname %}
            not following
        {% endif %}
    {% endfor %}
{% endblock %}