{% extends 'base.html' %}

{% block head %}
<title>Insta 485</title>
{% endblock %}

{% block body %}
    <form action="{{ url_for('handle_account') }}?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
        Old password <input type="password" name="password" required/> <br> <br>
        New password <input type="password" name="new_password1" required/> <br> <br>
        New password, again <input type="password" name="new_password2" required/> <br> <br>
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>
    <br>
    <a href={{ url_for("show_edit") }}>Back to edit account</a>
{% endblock %}